@page
@model Otthonbazar.Pages.Advertisement.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Add Advertisement</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row form-group">
                <label class="col-lg-3 control-label">Zip Code</label>
                <div class="col-lg-6">
                    <input id="City_Zip" class="form-control" />
                </div>
            </div>
            <div class="row form-group">
                <label class="col-lg-3 control-label">City Name</label>
                <div class="col-lg-6">
                    <input class="form-control" id="City_Name" disabled />
                </div>
            </div>
            <div class="row form-group">
                <label asp-for="Advertisement.AdvertisementType" class="col-lg-3  control-label">Type</label>
                <div class="col-lg-6">
                    <select asp-for="Advertisement.AdvertisementType" class="form-control"
                            asp-items="Html.GetEnumSelectList<Otthonbazar.Data.AdvertisementType>()">
                    </select>
                </div>
                <span asp-validation-for="Advertisement.AdvertisementType" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Advertisement.Address" class="col-lg-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Advertisement.Address" class="form-control" />
                </div>
                <span asp-validation-for="Advertisement.Address" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Advertisement.Price" class="col-lg-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Advertisement.Price" class="form-control" />
                </div>
                <span asp-validation-for="Advertisement.Price" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Advertisement.Size" class="col-lg-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Advertisement.Size" class="form-control" />
                </div>
                <span asp-validation-for="Advertisement.Size" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Advertisement.Room" class="col-lg-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Advertisement.Room" class="form-control" />
                </div>
                <span asp-validation-for="Advertisement.Room" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Advertisement.HalfRoom" class="col-lg-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Advertisement.HalfRoom" class="form-control" />
                </div>
                <span asp-validation-for="Advertisement.HalfRoom" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Advertisement.BuildDate" class="col-lg-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Advertisement.BuildDate" class="form-control" />
                </div>
                <span asp-validation-for="Advertisement.BuildDate" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Advertisement.Description" class="control-label"></label>
                <textarea asp-for="Advertisement.Description" class="form-control" /> </textarea>
                <span asp-validation-for="Advertisement.Description" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Advertisement.ImageUrl" class="col-lg-3 control-label"></label>
                <div class="col-lg-6">
                    <input type="file" asp-for="Advertisement.ImageUrl" class="form-control" />
                </div>
                <span asp-validation-for="Advertisement.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#City_Zip").on("blur", function (event, b) {
                // If there is no zip code then do not call the ajax.
                if ($("#City_Zip").val() === "")
                    return;
                $.get("/Advertisement/Create?handler=Zip&zip=" + event.currentTarget.value).then(function
                    (data) {
                    $("#City_Name").val(data.name);
                });
            })
        });
    </script>
}


